.button-link
  display inline-block
  padding $gap-normal 2 * $gap-normal
  color $dark-background-color
  font-weight bold
  white-space nowrap
  text-decoration inherit
  background-image linear-gradient(100deg, lighten($purple, 25%) 50%, lighten($purple, 50%) 50.1%)
  background-position right center
  background-size 250% 100%
  border-radius 2px

  @media (prefers-reduced-motion no-preference)
    transition background-position $timing-normal

  &:hover
  &:focus
    background-position left center
