.hero-toulouse
  display flex
  flex-direction column
  align-items center
  justify-content center

  > .toulouse
    display flex
    align-items flex-end
    height 50vh
    margin 0
    padding 1vh 0 5vh
    color transparent
    font-size 20vh
    line-height 0.6
    letter-spacing -0.1em
    text-align center
    background-image url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Toulouse_Capitole_Night_Wikimedia_Commons.jpg/1280px-Toulouse_Capitole_Night_Wikimedia_Commons.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover
    -webkit-background-clip text
    background-clip text
    background-attachment fixed
    transition background-position $timing-fast ease-out

  > p
    padding 0 $gap-normal
