.hero-toulouse
  display flex
  flex-direction column
  align-items center
  justify-content center

  > .toulouse
    margin 0
    padding 3rem 2rem 6rem 0 // Asymetric padding looks better
    color transparent
    font-size 25rem
    line-height 0.6
    letter-spacing -0.1em
    text-align center
    background-color #154790
    background-image url('https://upload.wikimedia.org/wikipedia/commons/4/4e/Toulouse_Capitole_Night_Wikimedia_Commons.jpg')
    background-repeat no-repeat
    background-position center 25%
    background-size auto 100vh
    -webkit-background-clip text
    background-clip text

    @media (prefers-reduced-motion no-preference)
      background-position center calc(30% + -50% * (var(--parallax) - var(--offset)))
      transition background-position $timing-normal ease-out

      @supports s('(-webkit-font-smoothing: antialiased) and selector(a > b)')
        // Chrome-like only
        background-position center 25%
        background-attachment fixed

  > p
    max-width $width-text
    margin-right auto
    margin-left auto
    padding 0 $gap-normal
    text-align justify
