.hero-alpha
  display flex
  flex-direction column
  align-items center
  justify-content center
  background linear-gradient(5deg, $dark-background-color, $dark-background-color, mix($purple, $ice))

  > .alpha
  > .n7
    width auto
    margin $gap-large
    color $dark-color
    fill currentColor

    @media (prefers-reduced-motion no-preference)
      transition filter $timing-fast

  > .alpha
    height 50vmin
    filter drop-shadow(4vmin 0 2vmin $purple) drop-shadow(-4vmin 0 2vmin $ice)

    @media (prefers-reduced-motion no-preference)
      filter drop-shadow(calc(4vmin * var(--x)) calc(4vmin * var(--y)) 2vmin $purple) drop-shadow(calc(-4vmin * var(--x)) calc(-4vmin * var(--y)) 2vmin $ice)

  > .n7
    height 15vmin
    filter drop-shadow(2vmin 0 0.5vmin alpha($purple, 75%)) drop-shadow(-2vmin 0 0.5vmin alpha($ice, 75%))

    @media (prefers-reduced-motion no-preference)
      filter drop-shadow(calc(2vmin * var(--x)) calc(2vmin * var(--y)) 0.5vmin alpha($purple, 75%)) drop-shadow(calc(-2vmin * var(--x)) calc(-2vmin * var(--y)) 0.5vmin alpha($ice, 75%))
