.hero-clubs
  position relative
  min-height 100vmax

  > .title
  > .picture
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    display flex
    flex-direction column
    align-items center
    justify-content center

  > .title
    z-index 1
    color $dark-background-color

    > .big
    > .small
      margin 0
      padding 0
      text-align center

    > .big
      padding 0 0.1em
      color transparent
      font-weight 900
      font-size 8rem
      line-height 0.9
      letter-spacing -0.05em
      text-transform uppercase
      background-image linear-gradient(to bottom, $dark-color, lighten($purple, 50%))
      -webkit-background-clip text
      background-clip text
      filter drop-shadow(0 0 $gap-normal $dark-background-color)

    > .small
      color lighten($purple, 50%)
      text-shadow 0 0 $gap-normal $dark-background-color
