.parallax-shadow
  position relative

  > .foreground
    position relative

  > .shadow
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color $purple
    transform translate(2em, 1em)
    // filter invert(1)
    mix-blend-mode difference
    transition $timing-slow background-color, $timing-fast transform ease-out

    &:hover
    &:active
      background-color $ice

    &.-alternate
      background-color $ice

      &:hover
      &:active
        background-color $purple

    @media (prefers-reduced-motion no-preference)
      transform translate(2em, calc(-30vh * (var(--parallax) - var(--offset))))
