.quoted-text
  position relative
  margin $gap-normal
  padding 0 $gap-normal
  text-align justify

  &::before
    position absolute
    top -6rem
    left 0
    z-index -1
    color mix($purple, $dark-background-color)
    font-size 12rem
    line-height 1
    content '«'

  > .author
    color mix($purple, $dark-color)
    font-weight bold
    font-style italic
    text-align right
