$angle = 25deg

.tag-list
  display flex
  flex-wrap wrap
  justify-content center

  > .tag
    display inline-block
    margin 0 ($gap-small / 2) $gap-small 0
    background-color #888
    border-radius 1em

    // transform skewX((- $angle))
    &.-association
      background-color #41c7ff

    &.-technique
      background-color #bec5dd

    &.-inp
      background-color #e96289

    &.-sport
      background-color #eb5c37

    &.-danse
      background-color #ffd90b

    &.-social
      background-color #3bc761

    &.-culture
      background-color #9652f3

    &.-jeu
      background-color #a4ff53

    &.-artistique
      background-color #ff2e63

    &.-musique
      background-color #dffe13

    &.-n7
      background-color #4f46fd

    &.-gastronomie
      background-color #11ffd0

    > a
      display inline-block
      padding 0 $gap-small
      color $color
      text-decoration inherit
