body
    color #fff
    font-family sans-serif
    text-align center
    background-color #000

h1
    margin 0
    font-size 70vmin
    line-height 1

h2
    margin 0
    font-size 10vmin
    line-height 1
