// **** Colors ****
$color = #eee
$background-color = #000
// **** Margins and paddings ****
$small-gap = 1rem
// **** Angles ****
$small-angle = 3deg
// **** Timings ****
$timing-contemplative = 60s
// **** Other settings ****
$number-of-portraits = 5

@import 'design/reset.styl'
@import 'design/helpers.styl'
@import 'design/components/*.styl'
