._hidden
  display none

._small-rotation
  transform rotate($small-angle)
  transform-origin 0 0

  &.-padded
    padding-bottom s('calc(%s + %s)', 100% * tan($small-angle), $gap-small)

._overflow-hidden
  max-width 100%
  overflow hidden

._full-width
  width 100%

@media (prefers-reduced-motion no-preference)
  ._parallax
    transition $timing-fast transform ease-out

  ._scroll-faster
    transform translateY(calc(-10vh * (var(--parallax) - var(--offset))))

a._beautiful
  beautiful-link($link, $background-color)

._icon
  width 1em
  height 1em
  margin (1rem / 2) 0
  fill currentColor

  &.-big
    width 2em
    height 2em

._color-inherit
  color inherit

._hocus
  @media (prefers-reduced-motion no-preference)
    transition $timing-fast color

  &:hover
  &:focus
    color $dark-link

button._phantom
  color inherit
  background-color transparent
  border-width 0
  fill currentColor

  > svg
    width 1em
    height 1em
