._hidden
  display none

._small-rotation
  transform rotate($small-angle)
  transform-origin 0 0

  &.-padded
    padding-bottom s('calc(%s + %s)', 100% * tan($small-angle), $gap-small)

._overflow-hidden
  max-width 100%
  overflow hidden

._full-width
  width 100%

@media (prefers-reduced-motion no-preference)
  ._parallax
    transition $timing-fast transform ease-out

  ._scroll-faster
    transform translateY(calc(-10vh * (var(--parallax) - var(--offset))))

a._beautiful
  beautiful-link($link, $background-color)
