.framed-picture
  padding $gap-small
  background-color $color
  box-shadow 0 0 $gap-small $background-color

  &.-picture-1
    transform translate(0%, -120%) rotate(5deg)

  &.-picture-2
    transform translate(70%, 70%) rotate(-20deg)

  &.-picture-3
    transform translate(-60%, 80%) rotate(35deg)

  &.-picture-4
    transform translate(-50%, -90%) rotate(5deg)

  &.-picture-5
    transform translate(60%, -100%) rotate(20deg)

  &.-picture-6
    transform translate(10%, 90%) rotate(-5deg)

  &.-picture-7
    transform translate(-30%, -100%) rotate(25deg)

  &.-picture-8
    transform translate(30%, 100%) rotate(25deg)

  &.-picture-9
    transform translate(60%, -100%) rotate(-25deg)
