.hero-toulouse
  display flex
  flex-direction column
  align-items center
  justify-content center

  > .toulouse
    color transparent
    font-size 8rem
    text-transform uppercase
    background-image url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Toulouse_Capitole_Night_Wikimedia_Commons.jpg/1280px-Toulouse_Capitole_Night_Wikimedia_Commons.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover
    -webkit-background-clip text
    background-clip text

  > p
    padding 0 $gap-normal
