<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta property="og:url" content="https://alpha.enseeiht.fr{{ page.url | url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – α n7">
    <meta property="og:image" content="https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="fr_FR">
    <title>{{ title }} – α n7</title>
    <link rel="stylesheet" href="/assets/design.styl">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon">
  </head>
  <body {{ ('class="' + bodyClass + '"' if bodyClass) | safe }}>
    {{ content | safe }}
    <script src="/assets/main.ts"></script>
    {% for script in additionnalScripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
