{% macro parallaxShadow(src, alt, width, height) %}
  <p class="-wide parallax-shadow">
    {%- set i = 0 | counter -%}
    <i class="shadow _parallax{{ ' -alternate' if i % 4 == 0 }}" aria-hidden="true"></i>
    <img src="{{ src }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" class="foreground _full-width">
  </p>
{% endmacro %}

{% macro parallaxBlocs(tag, text) %}
  <{{ tag }} class="parallax-blocs">
    {{ text }}
    {%- set i = 0 | counter -%}
    <i class="bloc -b1 _parallax{{ ' -alternate' if i % 3 == 0 }}" aria-hidden="true"></i>
    <i class="bloc -b4 _parallax{{ ' -alternate' if i % 3 == 1 }}" aria-hidden="true"></i>
    <i class="bloc -b5 _parallax{{ ' -alternate' if i % 3 == 2 }}" aria-hidden="true"></i>
  </{{ tag }}>
{% endmacro %}

{% macro parallaxLogo(src, alt, width, height) %}
  <p class="-center parallax-blocs">
    <img src="{{ src }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" class="_parallax _scroll-faster">
    {%- set i = 0 | counter -%}
    {%- if i % 4 == 0 -%}
      <i class="bloc -b5 _parallax{{ ' -alternate' if i % 3 == 0 }}" aria-hidden="true"></i>
    {%- elif i % 2 == 0 -%}
      <i class="bloc -b1 _parallax" aria-hidden="true"></i>
    {%- endif -%}
  </p>
{% endmacro %}
