// **** Colors ****
$color = #eee
$background-color = #000
$purple = #511bb8
$ice = #4cc4f2
// **** Margins and paddings ****
$gap-small = 1rem
$gap-normal = 2rem
$gap-large = 3rem
// **** Angles ****
$small-angle = 3deg
// **** Timings ****
$timing-fast = 0.2s
$timing-normal = 0.5s
$timing-slow = 1s
$timing-contemplative = 120s
// **** Other settings ****
$number-of-portraits = 10

@import 'design/reset.styl'
@import 'design/helpers.styl'
@import 'design/fonts.styl'
/* stylelint-disable stylus/no-at-require */
@require 'design/components/*.styl'
