// **** Colors ****
$color = #eee
$background-color = #000
$purple = #8a40b4
// **** Margins and paddings ****
$gap-small = 1rem
$gap-normal = 2rem
$gap-large = 3rem
// **** Angles ****
$small-angle = 3deg
// **** Timings ****
$timing-contemplative = 60s
// **** Other settings ****
$number-of-portraits = 5

@import 'design/reset.styl'
@import 'design/helpers.styl'
@import 'design/components/*.styl'
