// **** Colors ****
$color = #222
$background-color = #fff
$dark-color = #eee
$dark-background-color = #000
$purple = #9701d6
$ice = #4cc4f2
$link = mix($purple, $color)
$dark-link = mix($purple, $dark-color)
// **** Margins and paddings ****
$gap-small = 1rem
$gap-normal = 2rem
$gap-large = 3rem
// **** Angles ****
$small-angle = 3deg
// **** Timings ****
$timing-fast = 0.2s
$timing-normal = 0.5s
$timing-slow = 1s
$timing-contemplative = 120s
// **** Other settings ****
$number-of-portraits = 10
$width-text = 80rem
$width-wide = 100rem
$radius = (1rem / 4)

@import 'normalize.css/normalize.css'
@import './design/mixins.styl'
@import './design/defaults.styl'
@import './design/helpers.styl'
@import './design/fonts.styl'
@require './design/components/*.styl'
